<% include ./partials/header.ejs %>

    <div class="px-10 py-10 max-w-[1400px] mx-auto px-4">
        <div class="columns-6 gap-5
              xl:columns-5 
              lg:columns-4 
              md:columns-3 
              sm:columns-2 
              xs:columns-1">
            <% posts.forEach(post=> { %>
                <div
                    class="mb-2 break-inside-avoid rounded-xl overflow-hidden shadow-md hover:shadow-lg transition-shadow duration-300">
                    <a href="/images/uploads/<%= post.postimage %>" target="_blank" class="block">
                        <img src="/images/uploads/<%= post.postimage %>" alt="Post image"
                            class="w-full h-60 object-cover rounded-lg hover:opacity-95 hover:shadow-xl transition duration-300" />
                    </a>
                    <div class="p-1 text-gray-900 font-sans text-sm">
                        <%= post.content || "Lorem ipsum" %>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <% include ./partials/footer.ejs %>